<div id="Header">

    <nav class="navbar navbar-expand-lg navbar-light ">
        <img src="/assets/images/logo.png" alt="Logo" style="padding-left: 50px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav" id="first-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="tel:+905.690.5057">905.690.5057 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">ABOUT </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#FAQ">FAQ'S </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact"> CONTACT </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#FB"> <i class="fa fa-facebook fa-lg"></i> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#TW"> <i class="fa fa-twitter fa-lg"></i> </a>
                </li>
                <li class="nav-item">
                    <button class=" button button1" mat-stroked-button color="warn" style="background-color: #fff;">Request A Quote</button>
                </li>
            </ul>

        </div>
        <div class="jumbotron">
            <ul class="navbar-nav">
                <li id="menu-item" class="nav-item active">
                    <a class="nav-link" href="#LIFEINSURANCE">LIFE INSURANCE </a>
                </li>
                <li id="menu-item" class="nav-item">
                    <a class="nav-link" href="#TRAVELINSURANCE">TRAVEL INSURANCE </a>
                </li>
                <li id="menu-item" class="nav-item">
                    <a class="nav-link" href="#DISABILITYINSURANCE">DISABILITY INSURANCE </a>
                </li>
                <li id="menu-item" class="nav-item">
                    <a class="nav-link" href="#CRITICAL ILLNESS INSURANCE"> CRITICAL ILLNESS INSURANCE </a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container-fluid"></div>
</div>
