<div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
    <footer>
        <div class="row my-5  py-5">
            <div class="col-11">
                <div class="row ">
                    <div class="col-xl-3 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                        <img src="/assets/images/logo.png" alt="Logo">
                        <div id="details">
                            <p>David makes life insurance easy and simple to understand. He is here to find the right
                                product for you at the right price!</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <ul class="list-unstyled">
                            <li><a class="list-item" href="#LifeInsurance">Life Insurance</a></li>
                            <li><a class="list-item" href="#TravelInsurance">Travel Insurance</a></li>
                            <li><a class="list-item" href="#DisabilityInsurance">Disability Insurance</a></li>
                            <li><a class="list-item" href="#CriticalIlnessInsurance">Critical Ilness Insuranc</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12" i>
                        <ul class="list-unstyled">
                            <li><a class="list-item" href="#About">About</a></li>
                            <li><a class="list-item" href="#FAQ">FAQ'S</a></li>
                            <li><a class="list-item" href="#BLOG">BLOG</a></li>
                            <li><a class="list-item" href="#CriticalIlnessInsurance">Critical Ilness Insuranc</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-4 col-12" id="contactsection">
                        <h6 class=" mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b class="list-item">CONTACT</b>
                        </h6>
                        <a class="list-item" href="tel:+905.690.5057"><i class="bi bi-telephone-fill fa-x"></i>
                            +905-690-5057</a><br>
                        <a class="list-item" href="mailto:david@davidmoulson.com"> <i class="fa fa-envelope fa-x"
                                hieght="50px"></i> david@davidmoulson.com</a><br>
                        <a class="list-item"><i class="fa fa-map-marker fa-x"></i> 50 Coreslab Dr,
                            Flamborough, ON, L9H0B2</a><br>
                        <a class="list-item col-xl-1" href="#FB"> <i class="fa fa-facebook fa-lg"></i> </a>
                        <a class=" list-item col-xl-1" href="#TW"> <i class="fa fa-twitter fa-lg"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-xl-5 col-md-4 col-sm-4 col-12" >
            <a href="#"><span class="consultation">CONTACT FOR A <b>FREE CONSULTATION</b></span></a>
        </div>
    </div>
        <hr style="height:.5px;background-color:rgb(243, 117, 73)">
        <div class="row">
            <span class="list-item col-xl-5 col-md-4 col-sm-4 col-12">Copyright © 2021 David Moulson</span>
            <span class="col-xl-4 col-md-4 col-sm-4 col-12"></span>
            <span class="list-item col-xl-3 col-md-4 col-sm-4 col-12">DESIGN BY Duaa </span>
        </div>
    </footer>
</div>