

@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/bootstrap-social/bootstrap-social.css';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// // some basic resets

$background-primary: #FFF;


$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}
.container{
  margin: 20px;
  display: flex;
}
.background-primary {
  background-color: $background-primary!important;
}
.background-accent {
  background-color: $accent-color!important;
}
.text-floral-white {
  color: floralwhite!important;
}
html, body {
     height: 100%; }
body {
     margin: 0;
    font-family: 'Yusei Magic', sans-serif;
 }
.flex-spacer {
flex: 1 1 auto;
}
// .highlight{
//   background-color: $background-pale;
//   border:  1px solid $primary-color-dark;
//   z-index: 1;
//   transform: scale(1.01);
// }
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
