<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block img-fluid" src="/assets/images/3.jpg">
            <div class="fade-in carousel-caption d-none d-md-block col-xl-4">
                <h3 class="mat-display-3">Life Insurance</h3>
                <h1 class="mat-display-4"><b>Protected</b></h1>
                <h4 class="mat-display-3"><b>when you need it most</b></h4>
                <p class="cap">Enjoy life to the fullest and have peace of mind!</p>
            </div>
            <button mat-raised-button class="fade-in button button1 " flex="50" color="warn" href="/life-insurance/"><b>LET'S
                    TALK TODAY</b></button>

        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="/assets/images/2.jpg">
            <div class="fade-in carousel-caption d-none d-md-block col-xl-4">
                <h3 class="mat-display-3">Travel Insurance</h3>
                <h1 class="mat-display-4"><b>Protected</b></h1>
                <h4 class="mat-display-3"><b>when you need it most</b></h4>
                <p class="cap">Enjoy life to the fullest and have peace of mind!</p>
            </div>
            <button mat-raised-button class="fade-in button button1 " flex="50" color="warn" href="/travel-insurance/"><b>LET'S
                    TALK TODAY</b></button>

        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="/assets/images/1.jpg">
            <div class="fade-in carousel-caption d-none d-md-block col-xl-4 ">
                <h3 class="mat-display-3">Disability Insurance</h3>
                <h1 class="mat-display-4"><b>Protected</b></h1>
                <h4 class="mat-display-3"><b>when you need it most</b></h4>
                <p class="cap">Enjoy life to the fullest and have peace of mind!</p>
            </div>
            <button mat-raised-button class="fade-in button button1 " flex="50" color="warn"
                href="/Disability_Insurance/"><b>LET'S TALK TODAY</b></button>

        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="/assets/images/4.jpg">
            <div class="fade-in carousel-caption d-none d-md-block col-xl-5">
                <h3 class="mat-display-3">Critical Illness Insurance</h3>
                <h1 class="mat-display-4"><b>Protected</b></h1>
                <h4 class="mat-display-3"><b>when you need it<br> most</b></h4>
                <p class="cap">Enjoy life to the fullest and have peace of mind!</p>
            </div>
            <button mat-raised-button class="fade-in button button1 " flex="50" color="warn"
                href="/Critical-Illness-Insurance/"><b>LET'S TALK TODAY</b></button>

        </div>
    </div>
    <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
        <li data-target="#mycarousel" data-slide-to="3"></li>
    </ol>
    <a class="carousel-control-prev" style="color: inherit; margin-top: 58px;" href="#mycarousel" role="button"
        data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>


</div>
<div class="main-home">
    <span class="big-text">Always keeping <i style="color: rgb(243, 117, 73);">your</i> best interest in mind!</span>
</div>
<div class="col-11">
    <div class="row ">
        <div class="container images">
            <div class="col-xl-3 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                <img class="image-main-home" src="/assets/images/44.png" style="left:20px;" height="110px" alt="SUPPORT">
                <br>
                <br>
                <h4 style="padding-top: 20px;  color:  rgb(243, 117, 73);font-weight:bold;">SUPPORT</h4>
                <br>
                <span style="  color:  rgb(243, 117, 73);font-size:25px">Help When You Need It.</span>
                <br>
                <span style="font-size: 18px;">A phone call away from professional insight with years of consulting
                    experience.</span>
            </div>
            <div class="vl"></div>
            <div class="col-xl-3 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                <img class="image-main-home" src="/assets/images/22.png" style="left:20px;" height="110px" alt="BUILDING RELATIONSHIPS">
                <br>
                <br>
                <h4 style="padding-top: 20px;  color:  rgb(243, 117, 73);font-weight:bold;">BUILDING RELATIONSHIPS</h4>
                <br>
                <span style="  color:  rgb(243, 117, 73);font-size:24px">Understanding your <br> needs<br>
                    and lifestyle.</span>
                <br>
                <span style="font-size: 18px;">Helping you live your life without worry.</span>
            </div>
            <div class="vl"></div>
            <div class="col-xl-3 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                <img class="image-main-home" src="/assets/images/33.png" style="left:20px;" height="100px" alt="YEARS OF EXPERIENCE">
                <br>
                <br>
                <h4 style="padding-top: 20px;  color:  rgb(243, 117, 73);font-weight:bold;">YEARS OF EXPERIENCE</h4>
                <br>
                <span style="  color:  rgb(243, 117, 73);font-size:22px">To ensure your goals are met.</span>
                <br>
                <span style="font-size: 18px;">Using years of expertise to create the right plan no matter the means to
                    assure satisfaction.</span>
            </div>
            <div class="vl"></div>
            <div class="col-xl-3 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                <img class="image-main-home" src="/assets/images/11.png" style="left:20px;" height="120px" alt="LATEST PRODUCTS">
                <br>
                <br>
                <h4 style="padding-top: 20px;  color:  rgb(243, 117, 73);font-weight:bold;">LATEST PRODUCTS</h4>
                <br>
                <span style="  color:  rgb(243, 117, 73);font-size:23px">That fit your lifestyle.</span>
                <br>
                <span style="font-size: 16px;">Providing clients with the latest products to help serve you better and
                    find the right product for you.</span>
            </div>
        </div>
    </div>
</div>
<div class="rectangle">
    <div class="col">
        <div class="col-xl-5" style="padding-left: 9.5%;padding-top: 6%;">
            <img src="/assets/images/david.png" alt="david">
        </div>
        <div class="col-xl-5 breef" style="left: 700px; top:-600px ;">
            <h3 style="padding-bottom: 20px; " class="breef ">David Moulson Financial Inc.</h3>
            <b>
                <h5>TOP INDEPENDENT INSURANCE BROKER IN <br>TORONTO</h5>
            </b>
            <br>
            <p style="font-size: 16px;">
                David Moulson is an independent insurance broker from the Greater Toronto Area. Clients trust him to
                find the right solution that suits them on a personal level.
                <br>
                <br>
                David has been in the life insurance business for over 34 years. He thrives on the lifelong connections
                he makes with his clients and understands the challenges they face. When he’s not in the office (or on
                the golf course), he enjoys spending time at home and travelling with his family.
                <br>
                <br>
                David will take the time to understand your needs. His goal is to match you with the right policy and
                save you money. Give him a call, he’s here to
            </p>
        </div>
    </div>
    <div style="color:#fff;z-index: 9; width: 80%; ;height: 120px; background-color: #f37549;    display: block; position: relative; top: -615px;left:10%;"
        class="capt col">
        <div class="col-xl-6" style="font-size: 24px;padding: 10px 30px; text-align: center;">
            For a FREE analysis of your existing coverage or to receive a free quote if you are looking to get covered.
        </div>
        <button class="col-xl-6" mat-raised-button class="button2 button1 " flex="50"
            style="z-index: 10; width:500px; top:-110px;left:600px " href="/contact-david/"><b>CONTACT DAVID MOULSON
                TODAY </b><i class="bi bi-arrow-right-circle-fill"></i></button>
    </div>
</div>
<!-- -------------------------------------------------------------------------------------- -->
<div id="mycarousel1" class="carousel slide" data-ride="carousel1">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block img-fluid" src="/assets/images/cover.jpg">

            <div class="carousel-caption d-none d-md-block row">
                <h1 style="display: block; font-family: 'Montserrat', sans-serif;position: relative; top: -250px; left: 20%;"
                    class="mat-display-2">What my clients are saying</h1>
                <div class="col">
                    <div class="col-xl-4 r1">
                        <br>
                        <p class="fade-in">
                        It’s not just about business. We have known David Moulson for over 15 years and the relationship
                        we have developed with David has proven that we consider him to be a trustworthy advisor who
                        always looks out for our best interests. We have no problem recommending him to our friends and
                        business colleague. &#8211; <strong>Tony and Andrea Sevsek</strong> </p>
                    </div>
                    <div class=" col-xl-4 r2">
                        <br>
                        <p class="fade-in">
                        It’s nice to have your expectations in a business not only met but exceeded! David Moulson
                        provided us with professional, friendly and effective service. Many thanks for your efforts
                        which allowed us to get the exact coverage we needed. &#8211; <strong>Haroon and Deevaka
                            Chandoo</strong></p>
                    </div>
                </div>
            </div>


        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="/assets/images/cover.jpg">
            <div class="carousel-caption d-none d-md-block row">
                <h1 style="display: block; font-family: 'Montserrat', sans-serif;position: relative; top: -250px; left: 20%;"
                    class="mat-display-2">What my clients are saying</h1>
                <div class="col">
                    <div class="col-xl-4 r1">
                        <br>
                        <p class="fade-in">
                        Thank you David for going the extra mile for me and my family. I have recommended you to several
                        people simply because I think you care. &#8211; <strong>Sean Singh</strong>
                    </p>
                    </div>
                    <div class=" col-xl-4 r2">
                        <br>
                        <p class="fade-in">
                        Your service was outstanding! You kept me in the loop throughout the entire process. You made
                        shopping for life insurance a breeze. Thank you so much David! &#8211; <strong>Elizabeth
                            Ali</strong> </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <ol class="carousel-indicators">
        <li data-target="#mycarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel1" data-slide-to="1"></li>
    </ol>
    <a class="carousel-control-prev" href="#mycarousel1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#mycarousel1" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>


</div>
<!-- -------------------------------------------------------------------------------------- -->

<div style="color:#fff;z-index: 9; width: 100%; ;height: 200px; background-color: #cd493b;    display: block; position: relative; bottom: 0px;"
    class="capt col">
    <!-- <div class="col-xl-6" style="font-size: 24px;padding: 10px 30px; text-align: center;">
            For a FREE analysis of your existing coverage or to receive a free quote if you are looking to get covered.
        </div> -->
    <button mat-raised-button class="button2 button1 " flex="50"
        style="z-index: 10; width:500px; margin-left:30% ; margin-top: 2%;  background-color: #cd493b;"
        href="/contact-david/"><b>CONTACT DAVID MOULSON
            TODAY </b><i class="bi bi-arrow-right-circle-fill"></i></button>
    <div>
        <span style="font-size: 26px;margin-left: 25%;"><i>Let's discuss the best life insurance solutions for your
                needs.</i></span>
    </div>
</div>
<div class="gray-rect">
    <h1 style="padding-top: 6%;" class="mat-display-3"> N E W S L E T T E R</h1>
    <span style="font-size: 18px;">Sign up to receive the latest news, tips and trends updates</span>
    <br>
    <br>
    <ul id="horizontal-list" >
        <li>
            <mat-checkbox color='warn'>Individual</mat-checkbox>
        </li>
        <li>
            <mat-checkbox color='warn'>Business</mat-checkbox>
        </li>
    </ul>
    <div class="form-group row col-12" style="padding-left: 30%;">
        <div class="col-md-3 ">
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your first name">
        </div>
        <div class="col-md-3 ">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        </div>
        <div class="col-md-3 ">
            <button mat-raised-button class="button3 button4 " flex="50" href="/contact-david/"><b>Subscribe </b><i class="bi bi-arrow-right-circle-fill"></i></button>
        </div>
    </div>
</div>